main {
    background: rgba(0, 0, 0,.2);
}

.card {
    margin: 0px 10px;        
    &-title {
        text-transform: uppercase;
        font-size: .9rem;
    }
    &-img-overlay {
        padding: 0px;
        h2 {
            font-family: 'Roboto', sans-serif;
            background-color: rgba(0, 0, 0,.5);
            display: inline-block;
            padding: 8px;
            border-radius: 3px;
            position: absolute;
        }
    }
}

.carousel-caption {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0,.5);
    display: block;
    padding: 16px;
    border-radius: 3px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    &:hover {
        background-color: #c179ee;
    }
}

@media (min-width: 767px) {
    #small {
        display: none;
    } 
}

@media (max-width: 766px) {
    #large {
        display: none;
    }
    .btn {
        font-size: .7rem;
    }
}