.card-header {
    background-color: $primary;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid white;
    letter-spacing: .2rem;
    text-transform: uppercase;
}